// ======================================================================================
//  Tabs
// ======================================================================================
.el-tabs__nav-wrap::after {
    background: transparent!important;
}
.el-tabs__item {
    height: 35px!important;
    opacity: 0.3;
    &.is-active {
        color: #000!important;
        font-weight: 500;
        opacity: 1;
    }
}
.el-tabs__active-bar {
    background-color: #409EFF!important;
}
.el-tabs__content {
    padding: 10px 3px;
}
// ======================================================================================
//  Input
// ======================================================================================
.el-input {
    input[danger="true"] {
        border: 1px solid red;
    }
}
// ======================================================================================
//  Dialog
// ======================================================================================
/* Mobile Device ---------------------*/
@media screen and (max-width:767px) {
    .el-dialog {
        width: 90%!important;
    }
}
