/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .left-sidebar {
    width: 250px!important;
  }
  #content-area {
    &.content-area {
      margin-left: 250px!important;
    }
  }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .left-sidebar {
    width: 250px!important;
  }
  #content-area {
    &.content-area {
      margin-left: 250px!important;
    }
  }
}
/* Device ---------------------*/
@media (min-width:1224) {
  .left-sidebar {
    width: 250px!important;
  }
  #content-area {
    &.content-area {
      margin-left: 250px!important;
    }
  }
}


/* Mobile Device ---------------------*/
@media screen and (max-width:767px) {
  .left-sidebar {
    display: none;
  }
  .bottom-bar {
    display: flex;
  }
  .el-tabs__content {
    padding: 0!important;
  }
  .cards-view {
    .tab-container {
      &.aspire-shadow {
        box-shadow: none!important;
      }
      &.p-12 {
        padding: 0!important;
      }
      .card-action {
        &.my-5 {
          margin: 0!important;
        }
        .bg-secondary.rounded-2xl {
          border-bottom-left-radius: unset!important;
          border-bottom-right-radius: unset!important;
        }
      }
    }
    .card-header {
      &.mb-4 {
        margin-bottom: 0!important;
      }
    }
    .mobile-padding {
      padding: 20px;
    }
    .card-padding {
      padding: 50px 20px 10px 20px;
    }
    .el-tabs__nav-scroll {
      padding: 0 20px!important;
    }
    .el-tabs__header {
      margin: 0!important;
      background-color: #0C365A;
    }
    .el-tabs__item {
      color: #fff!important;
      opacity: 0.3;
      &.is-active {
        color: #fff!important;
        opacity: 1;
      }
    }
    .mobile-bg {
      background-color: #0C365A;
    }
    .mobile-text-white {
      color: #fff;
    }
    .show-card {
      height: 35px;
      border-radius: 8px 8px 0 0;
      top: -32px !important;
      padding: 7px;
    }
    .mobile-top-logo {
      top: 10px;
      right: 20px;
      &.hidden {
        display: block!important;
      }
    }
    .mobile-el {
      display: flex!important;
    }
    .desktop-el {
      display: none!important;
    }
    .mobile-effect {
      opacity: 0.3;
      background-color: #000;
    }
  }
}
