/*========================================================
        SPACING
=========================================================*/

$spacer: 2.2rem;
$spacer-sm: ($spacer / 2);
$spacer-lg: ($spacer * 2);


$font-size-base: 14px !default;

$content-color: #222222;
$theme-background: #FFFF;


/*========================================================
        UI SIZE
=========================================================*/

$sidebar-width: 340px;
$reduced-sidebar-width: 80px;
$menu-icon-width: 19px;
$menu-icon-height: 19px;

